{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a href="/">Volver</a><br>

    <h1>Pokemones de tipo {{type.name}}</h1>
        
        {% for p in type.pokemon %} {# este type.pokemon es el nombre que le pusimos a la propiedad cuando
            creamos la relacion #}
            <img src="/img/{{p.image}}" width="200px"/>
        {% endfor %}
       
</div>
{% endblock %}
